{% extends 'layout.html' %}
{% block content %}
    <div class="container">
    {% for board in board_list.items %}
        <div class="py-5" id="{{ board.idx }}">
            <h3><a href="{{ url_for('detail.show', idx=board.idx) }}">{{ board.title }}</a></h3>
            <div style="max-height:180px;overflow-y:scroll;">
            {% for line in board.content.split('\n') %}
                <p>{{ line }}</p>
            {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}