{% extends 'layout.html' %}←
{% block content %}
    <div class="container">
        <div class="py-3">
            <a href="{{ url_for('board.show_all') }}">← back to list</a>
            <h1>{{ board.title }}</h1>
            <div>
                <button class="btn btn-success">Good:{{ board.good }}</button>
                <button class="btn btn-danger">Bad:{{ board.bad }}</button>
            </div>
        </div>

        <div class="py-4">
        {% for line in board.content.split('\n') %}
            <p>{{ line }}</p>
        {% endfor %}
        </div>

        <div class="py-5 mb-5">
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="newReply" placeholder="reply">
                <button class="btn btn-primary" id="submitReply">submit</button>
            </div>
            <div class="row">
                <ul style="border-radius:.25rem" id="replyDisplay"></ul>
                <div id="replyDisplayBottom"></div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="showCaptcha" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Captcha</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="captchaSubmit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let page = 1;
        let total_page = 1;

        document.getElementById("submitReply").addEventListener('click',function(){
            let form = new FormData();
            form.append("content", document.getElementById("newReply").value)

            axios({
                method: "POST",
                url: "{{ url_for('reply.add', board_idx=board.idx) }}",
                data: form
            }).then(function(resp){
                if(resp.data.result == "ok"){
                    document.getElementById("newReply").value="";
                    document.getElementById("newReply").blur(); fetch();
                } else {
                    alert('fail to submit reply')
                }
            }).catch(function(err){
                alert('fail to submit reply');
            });
        });

        function fetch(){
            function add_reply(idx, message){
                var li = document.createElement("li");
                li.setAttribute("class", "list-group-item");
                li.setAttribute("data-idx", idx);
                var b = document.createElement("b"); b.innerText=idx; li.appendChild(b);
                li.appendChild(document.createTextNode(": "+message));
                document.getElementById("replyDisplay").appendChild(li);
            }
            axios({
                method: "GET",
                url: "{{ url_for('reply.get', idx=board.idx) }}"
            }).then(function(resp){
                page = resp.data.head.page;
                total_page = resp.data.head.total_page;
                document.getElementById("replyDisplay").innerHTML="";
                resp.data.body.forEach(function(rep){
                    add_reply(rep.idx, rep.content);
                });
            }).catch(function(err){
                alert('fail to get reply');
            });
        } document.onload = fetch();
    </script>
{% endblock %}