{% extends 'layout.html' %}←
{% block content %}
    <div class="container">
        <div class="py-3">
            <a href="{{ url }}">← back to list</a>
            <h1>{{ board.title }}</h1>
            <div>
                <button class="btn btn-success" id="boardGood">Good:{{ board.good }}</button>
                <button class="btn btn-danger" id="boardBad">Bad:{{ board.bad }}</button>
            {% if board|check_table_name is true %}
                <a class="btn btn-secondary" href="{{ url_for('table.show_table', name=board.table_name) }}">Table:{{ board.table_name }}</a>
            {% endif %}
            {% if board.is_notice is true %}
                <a class="btn btn-secondary" href="{{ url_for('admin.show_all') }}">Table:Admin</a>
            {% endif %}
            </div>
        </div>

        <div class="py-4" id="content">
        {% for line in board.content.split('\n') %}
            <p>{{ line }}</p>
        {% endfor %}
        </div>

        <div class="py-5 mb-5">
            <div class="input-group mb-3">
                <img class="input-group-text" id="captchaImage" src="{{ url_for('captcha.generate', uuid=uuid) }}">
                <input class="form-control" type="text" id="captchaCode" placeholder="captcha code">
            </div>
            <div class="input-group mb-3">
                <input class="form-control" type="text" id="newReply" placeholder="reply">
                <button class="btn btn-primary" id="submitReply">submit</button>
            </div>
            <div class="row">
                <ul style="border-radius:.25rem" id="replyDisplay"></ul>
                <div id="replyDisplayBottom"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='marked.min.js') }}"></script>
    <script>
        document.getElementById("content").innerHTML = marked(document.getElementById("content").innerText);
        let uuid = "{{ uuid }}";
        let page = 1;
        let total_page = 1;

        function UUIDv4(){
            uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 3 | 8);
                return v.toString(16);
            }); document.getElementById("captchaImage").src = "/captcha/" + uuid;
        }

        function doVote(vote){
            let form = new FormData();
            form.append("vote", vote);
            axios({
                method: "POST",
                url: "{{ url_for('recommend.board', idx=board.idx) }}",
                data: form
            }).then(function(){alert('voted!')}).catch(function(err){
                alert(err.response.data.message);
            });
        }
        document.getElementById("boardGood").addEventListener('click', function(){doVote('good')});
        document.getElementById("boardBad").addEventListener('click', function(){doVote('bad')});

        document.getElementById("submitReply").addEventListener('click',function(){
            let form = new FormData();
            form.append("content", document.getElementById("newReply").value)
            form.append("uuid", uuid)
            form.append("captcha", document.getElementById("captchaCode").value)

            axios({
                method: "POST",
                url: "{{ url_for('reply.add', board_idx=board.idx) }}",
                data: form
            }).then(function(resp){
                if(resp.data.result == "ok"){
                    document.getElementById("newReply").value="";
                    document.getElementById("captchaCode").value="";
                    document.getElementById("newReply").blur(); fetch();
                } else {
                    alert('fail to submit reply')
                }
            }).catch(function(err){
                alert('fail to submit reply');
            }); UUIDv4();
        });

        function fetch(){
            function add_reply(idx, message){
                var li = document.createElement("li");
                li.setAttribute("class", "list-group-item");
                li.setAttribute("data-idx", idx);
                var b = document.createElement("b"); b.innerText=idx; li.appendChild(b);
                li.appendChild(document.createTextNode(": "+message));
                document.getElementById("replyDisplay").appendChild(li);
            }
            axios({
                method: "GET",
                url: "{{ url_for('reply.get', idx=board.idx) }}"
            }).then(function(resp){
                page = resp.data.head.page;
                total_page = resp.data.head.total_page;
                document.getElementById("replyDisplay").innerHTML="";
                resp.data.body.forEach(function(rep){
                    add_reply(rep.idx, rep.content);
                });
            }).catch(function(err){
                alert('fail to get reply');
            });
        } document.onload = fetch();
    </script>
{% endblock %}