{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="py-3">
            <h1>Verify</h1>
        </div>

        <div class="py-3">
            <form method="POST">
                <div class="mb-3 row">
                    <label for="token" class="col-sm-2 col-form-label">one-time token</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" id="token" name="token" required="required">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="input-group col-sm-10 mb-3">
                        <img class="input-group-text" src="{{ url_for('captcha.generate', uuid=uuid) }}">
                        <input class="form-control" type="text" name="captcha" required="required" placeholder="captcha code">
                    </div>
                    <input type="text" name="uuid" value="{{ uuid }}" hidden="hidden" readonly="readonly">
                </div>
                <button class="btn btn-danger" type="submit">Write</button>
            </form>
        </div>
    </div>
{% endblock %}