<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
        <title>Anonymity</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#top">Anonymity</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ write_url|write_url }}">{{ _("navbar_write") }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('board.show_all') }}">{{ _("navbar_show_all") }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('table.show_all_table') }}">{{ _("navbar_tables") }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('search.form') }}">{{ _("navbar_search") }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="top"></div>
        {% block content %}{% endblock %}
        <div id="bottom" class="py-5"></div>

        <!-- Script! -->
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    {% if need_axios is true %}
        <script src="{{ url_for('static', filename='axios.min.js') }}"></script>
    {% endif %}
        {% block script %}{% endblock %}
    </body>
</html>